{% extends "base.html" %}
{% block header %}
<style>
p.serif {
  font-family: "Courier New", Courier, monospace;
}
</style>
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <ul class="list-unstyled" style="font-family: Courier New, Courier, monospace;" id="map_id"></ul>
</div>
<div class="container-fluid">
    <ul id="prompt"></ul>
    <input id="cmd" type="text" value="type your commands here">
    <script src="{{ url_for('static', filename='game.js')}}"></script>
</div>
{% endblock %}
